<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/style.css">
		<title>Minesweeper</title>
	</head>
	<body>
		<table>
		{% for row in cell %}
			<tr>
			{% for col in row %}
				{% if col != 'B' %}
 					<td><button class="cell val-{{col}}">{{ col }}</button></td>
				{% else %}
					<td><input type="image" src="/static/images/bomb.jpg" class="cell" ></td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</body>
</html>